<h1><%=@teacher.name %>'s Classroom</h1>

<table class="students">
  <tr>
    <th>Student Name</th>
    <th>Reviews</th>
    <th>Average Rating</th>
    <th>Latest Read</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><a href="/students/<%=student.username %>"><i class="fas fa-user-graduate"></i></a> <%= student.name %></td>
      <td style="text-align: center"><%= student.published_reviews.length %></td>
      <td style="text-align: center"><%= student.published_reviews != [] ? student.avg_review : "--" %></td>
      <td><%if student.published_reviews != [] %>
          <a href="/books/<%= student.published_reviews[-1].book.id %>/<%= student.published_reviews[-1].book.slug %>"><%= student.published_reviews[-1].book.title %></a>
          <% else %>
          N/A
          <%end %></td>
    </tr>
  <% end %>
</table>
<br>
<% if teacher_user?(@teacher) %>
  <a href="/students/new"><button type="button">Create Student</button> </a>
<% end %>
