<% if student_user?(@student) %>
<h1>My Profile Page</h1>
<% else %>
  <h1><%= @student.name %></h1>
<% end %>
<h3>Teacher: <%= @teacher.name %></h3><br>
<!--List Reviews-->
<p><%= @student.name %> has written <%= @student.published_reviews.length %> review(s)!<br></p>
<h2>Reviews:</h2>
<% @student.published_reviews.each do |r| %>
    <h3><a href="/books/<%= r.book.id %>/<%=r.book.slug %>"><%= r.book.title %></a><br></h3>
    <h4><%= r.rating %> Stars<br></h4>
    <p><%= r.review %></p><hr>
<% end %>

<% if users_profile?(@student, @teacher) %>
  <a href="/students/<%= @student.username %>/edit"><button type="button">Edit Student Profile</button></a>
<% end %>
