<% if teacher_user?(@teacher) %>
  <h1>My Profile Page</h1>
<% else %>
  <h1><%= @teacher.name %></h1>
<% end %>
<!--Maybe make this a teacher stats table-->
<table class="teacher-stats">
  <tr>
    <td style="width: 25%">Student Count:</td>
    <td><%= @teacher.students.length %></td>
  </tr>
  <tr>
    <td>Book Count:</td>
    <td><%= @teacher.books.length %></td>
  </tr>
  <tr>
    <td>Review Count:</td>
    <td><%=@teacher.total_reviews %></td>
  </tr>
</table>

<% if teacher_user?(@teacher) %>
  <br>
  <hr>
  <br>
  <a href="/teachers/<%= @teacher.username %>/edit"><button type="button">Edit My Profile</button></a>
  <a href="/teachers/<%= @teacher.username %>/delete"><button type="button">Delete My Account</button></a>
<% end %>



