<!--CRUD teacher profile-->

<h1>Teacher: <%= @teacher.name %></h1><br>
<p>View <%=@teacher.name %>'s classroom.</p>
<p>View <%=@teacher.name %>'s classroom.</p>
<% if @teacher.username == current_user.username %>
  <a href="/teachers/<%= @teacher.username %>/edit"><button type="button">Edit My Profile</button></a>
  <a href="/teachers/<%= @teacher.username %>/delete"><button type="button">Delete My Account</button></a>
<% end %>



