<% if teacher_user?(@teacher) %>
  <h1>My Profile Page</h1>
<% else %>
  <h1><%= @teacher.name %></h1>
<% end %>
<!--Maybe make this a teacher stats table-->
<p><%= @teacher.name %> has <%= @teacher.students.length %> students.</p>
<p><%= @teacher.name %> has <%= @teacher.books.length %> books.</p>
<p><%= @teacher.name %>'s students have written <%=@teacher.total_reviews %> reviews!</p>

<% if teacher_user?(@teacher) %>
  <br>
  <hr>
  <br>
  <a href="/teachers/<%= @teacher.username %>/edit"><button type="button">Edit My Profile</button></a>
  <a href="/teachers/<%= @teacher.username %>/delete"><button type="button">Delete My Account</button></a>
<% end %>



