<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<h3><%= @book.genre %></h3>
<h3>Average Rating: <%= @book.average %></h3>

<% if @book.reviews.length == 0 %>
  <p>This book has no reviews!</p>
  <% else %>
  <ul class="review">
  <% @book.reviews.each do |r| %>
    <li><h4><%= r.student.name %> gives this book <%= r.rating %> stars!</h4>
      <p><%= r.review %></p>
      <% if current_user.username == r.student.username || session[:role] == 'teacher' %>
        <ul class="edit">
          <li><a href="/books/<%= @book.slug %>/reviews/<%=r.id %>/edit"><button type="button">Edit Review</button></a></li>
          <li><form action="/books/<%= @book.slug %>/reviews/<%= r.id %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Delete Review</button>
          </form></li>
        </ul><br><br>
      <% end %>
    </li><hr>
  <% end %>
  </ul>
<% end %>
<ul class="edit-book">
<% if session[:role] == 'student' %>
<li><a href="/books/<%= @book.slug %>/reviews/new"><button type="button">Leave a Review</button></a></li>
<% end %>

<% if @book.teacher.username == current_user.username %>
  <li><a href="/books/<% @book.slug %>>/edit"><button type="button">Edit Book</button></a></li>

  <form action="/books/<%= @book.slug %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <li><button type="submit">Delete Book</button></li>
  </form>
<% end %>
</ul>