<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<h3><%= @book.genre %></h3>
<h3>Average Rating: <%= @book.average %></h3>

<% if @book.reviews.length == 0 %>
  <p>This book has no reviews!</p>
  <% else %>
  <ul>
  <% @book.reviews.each do |r| %>
    <li><p><%= r.student.name %> gives this book <%= r.rating %> stars!</p>
      <p><%= r.student.name %>'s Review: <%= r.review %></p>
      <% if current_user.username == r.student.username || session[:role] == 'teacher' %>
        <a href="/books/<%= @book.slug %>/reviews/<%=r.id %>/edit"><button type="button">Edit Review</button></a>
        <form action="/books/<%= @book.slug %>/reviews/<%= r.id %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit">Delete Review</button>
        </form>
      <% end %>
    </li><hr><br>
  <% end %>
  </ul>
<% end %>
<% if session[:role] == 'student' %>
<a href="/books/<%= @book.slug %>/reviews/new"><button type="button">Leave a Review</button></a>
<% end %>

<% if @book.teacher.username == current_user.username %>
  <a href="/books/<% @book.slug %>>/edit"><button type="button">Edit Book</button></a>

  <form action="/books/<%= @book.slug %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button type="submit">Delete Book</button>
  </form>
<% end %>
