<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<h3><%= @book.genre %></h3>
<% avg_rating = [] %>
<% @book.reviews.each { |r| avg_rating << r.rating} %>
<h3>Average Rating: <%= (avg_rating.sum / avg_rating.length) %></h3>

<% if @book.reviews.length == 0 %>
  <p>This book has no reviews!</p>
  <% else %>
  <ul>
  <% @book.reviews.each do |r| %>
    <li><p><%= r.student.name %> gives this book <%= r.rating %> stars!</p>
      <p><%= r.student.name %>'s Review: <%= r.review %></p>
      <% if current_user.username == r.student.username || session[:role] == 'teacher' %>
        <a href="/books/<%= @book.slug %>/reviews/<%=r.id %>/edit"><button type="button">Edit Review</button></a>
        <button type="button">Delete Review</button>
      <% end %>
    </li><hr><br>
  <% end %>
  </ul>
<% end %>

<a href="/books/<%= @book.slug %>/reviews/new"><button type="button">Leave a Review</button></a>


<% if @book.teacher.username == current_user.username %>
  <form action="/books/<%= @book.slug %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Book">
  </form>
<% end %>
